// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;


// Tekoa

/* Gap Between Li Columns */
$liGapLG: 75px;
$liGapMD: 45px;
$liGapSM: 55px;
$liGapXS: 25px;

$color-text: #414954;
$color-primary: #8e1c57;
$color-primary-hover: #ac236a;
$color-secondary: #f5b517;
$color-secondary-hover: #ffc83f;